* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    font-family: 'Prompt', sans-serif;
    color: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#search {
    display: flex;
    justify-content: center;
}
#searching {
    opacity: 0.8;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 400px;
    height: 30px;
    padding-left: 20px;
}
#searching:hover {
    opacity: 1;
}
#btn {
    width: 30px;
    height: 30px;
    border: solid white 0.4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#current {
    width: 430px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #94cffa;
    background: transparent;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
}
#days {
    width: 90%;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    background-color: #94cffa;
    background: transparent;
    border-radius: 10px;
    display: flex;
    visibility: hidden;
}
.eachDay {
    width: 12.5%;
    text-align: center;
    border-radius: 10px;
}
#current:hover, .eachDay:hover {
    border: solid white 0.4px;
    transform: scale(1.1,1.1);
    transition: 0.5s ease;
}
.todayDate {
    font-size: 16px;
    text-transform: uppercase;
}
.location {
    font-size: 35px;
    text-transform: uppercase;
}
.todayTemp {
    font-size: 80px;
}
.todayComment {
    font-size: 25px;
}
.todayImg {
    width: 150px;
}
.all {
    display: flex;
    justify-content: space-around;
}
.info, .comImg {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info {
    border-right: solid white 0.5px;
}
.daysDate {
    font-weight: bold;
    font-size: 30px;
}
.daysCom {
    font-size: 20px;
}
.daysImg {
    width: 100px;
}
.daysAll {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.minMax {
    font-size: 20px;
}